@tailwind base;
@tailwind components;
@tailwind utilities;

/** {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/
body {
    background-color: #DDE8F0;
    color: #40514E;
    font-family: "merriweather";
}
h1 {
    font-family: "poppins";
    font-weight: bold;
    line-height: 1.5;
}
h2 {
    font-family: "poppins";
    font-weight: bold;
}
h3 {
    font-family: "poppins";
    font-weight: normal;
}
p {
    font-family: "merriweather";
}
input {
    width: 100%;
    max-width: 650px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;
}
textarea {
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;
    resize: none;
    width: 100%;
}

/*******************1ST AND 2ND SECTION***********************/
nav {
    padding: 3% 13% 0;
}
    
header {
    background-color: #004581;
    color: #DDE8F0;
}
.landing {
    background-color: #004581;
    color: #DDE8F0;
    padding: 3% 13% 0;
}
.nav-link {
    margin-left: 3rem;
    font-family: "poppins";
    font-weight: lighter;
    text-align: center;
    cursor: pointer;
}
.nav-link:hover {
    color: #97CBDC;
    font-size: 1.26rem;
}
.nav-edit {
    margin-top: 7px;
}
.last-navlink {
    border: solid #DDE8F0 1px;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 0;
}
.last-navlink:hover{
  color: #97CBDC;
}
.nav-brand{
    font-family: "Ubuntu";
    font-weight: normal;
}
.profile-img {
    width: 350px;
    min-width: 350px;
    height: 500px;
    align-items: center;
}

/********************3RD SECTION*************************/
.Skills {
    background-color: #DDE8F0;
    padding: 8% 13% 8%;
}
.ski {
    color: #018ABD;
    font-weight: bold;
}
.skill-img {
    width: 325px;
    height: 385px;
    margin: 0 auto;
}
.about-color {
    color: #01202c;
}
.half-about {
    width: 50%;
}
.div-icon {
   width: 33.33%;
}
.span-icon {
    display: block;
}
.icons {
    color: #018ABD;
}
.about {
    line-height: 1.5;
}

/*******************4TH SECTION******************************/
.experience {
    background-color: #97CBDC;
    padding: 2% 7% 2% 4%;
}
.Ex-image {
    width: 400px;
    height: 450px;
    margin-top: 60px;
}
.exp {
    color: #004581;
    font-weight: bold;
}
.line {
    width: 16px;
}

.date-color {
    color: #01202c;
    font-weight: bold;
}
.column {
    background-color: #DDE8F0;
    border: 1px solid #018ABD;
    border-radius: 7px;
    height: 185px;
    min-height: 185px;
    width: 350px;
    min-width: 300px;
}
.column:hover {
    background-color: #004581;
    color: #DDE8F0;
}
.column:hover .date-color {
    color: #DDE8F0
}
.column:hover .exp {
    color: #DDE8F0
}
.column:hover .btn-e {
    background-color: #DDE8F0;
    color: #004581;
}
.btn-e {
  background-color: #004581;
  border: none;
  border-radius: 6px;
  color: #DDE8F0;
  padding: 8px 17px;
}

/*******************5TH SECTION****************************/
.project-img {
  width: 260px;
  height: 200px;
}
.project-text {
    width: 277px;
}
.project-title {
    font-weight: bold;
    color: #01202c;
}
.project-div {
    position: relative;
    overflow: hidden;
}
.project-div:nth-child(1) {
    height: 365px;
}
.project-div:nth-child(2) {
    height: 365px;
}
.project-div:nth-child(3) {
    height: 365px;
}
.middle {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition:  0.3s ease 0s;
    -moz-transition:  0.3s ease 0s;
    transition:  0.3s ease 0s;
}
.project-div:hover .middle {
    top: 50%;
    left: 50%;
    opacity: 1;
}
.project-div:hover .imgg{
    opacity: 0.5;
    -webkit-transition:  0.4s ease 0s;
    -moz-transition:  0.4s ease 0s;
    transition:  0.4s ease 0s;
}
.link {
    margin-bottom: 150px;
    margin-right: 23px;
    border-radius: 100%;
    padding: 3%;
    background-color: #fff;
    color: #018ABD;
}

/*********************6TH SECTION*******************************/
.apostrophee-img {
    height:45px;
}
.testimonial-color {
    color: #01202c;
    text-align: center;
}
.dot {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #97CBDC;
}

/********************7TH SECTION******************************/
.cont {
    color: #018ABD;
    font-weight: bold;
}
.contact-route {
    padding-left: 10%;
    padding-right: 10%;
}
.contact-icon {
    background-color: #004581;
    color: #DDE8F0;
    padding: 80%;
    border-radius: 100%;
}
.contact-color {
    color: #01202c;
}
.btn {
  background-color: #004581;
  border: none;
  border-radius: 6px;
  color: #DDE8F0;
  padding: 8px 38px;
  text-align: center;
  font-size: 16px;
}

/*******************LAST SECTION***********************************/
footer {
    background-color: #004581;
    color: #DDE8F0;
    align-items: center;
    padding: 50px 0 20px;
    margin-bottom: 0;
}
.copyright {
    font-size: 15px;
    line-height: 1.5;
}
.footer-text {
    font-weight: normal;
}



/*****************************************RESPONSIVE DESIGN*********************************************/
/*******Extra Small PHONES*******(max-width:600px)***/
/*******Portrait Tablets*********(min-width:600px)***/
/*******Medium Devices***********(min-width:768px)***/
/*******Large Devices/laptops****(min-width:992px)***/
/*******Extra Large Devices******(min-width:1200px)**/

/*******HAMBURGER MENU**********/
@media only screen and (max-width : 768px) {
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #018ABD;
        opacity: 0.99;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.3s;
    }
    .sidebar a {
        padding: 8px 9px 8px 8px;
        color: #fff;
        transition: 0.3s;
    }
    .nav-items {
        display: block;
        margin-top: 30px;
        padding-right: 2.5rem;
    }
    .nav-link {
        margin-bottom:35px;
        font-weight: normal;
    }
    .nav-link:hover {
        font-size: 1.25rem;
    }
    .last-navlink {
        width: 80%;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 25px;
        right: 30px;
        margin-left: 50px;
    }
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        color: #fff;
        padding: 10px 15px;
        border: none;
    }
    .last-navlink {
        padding: 5px 10px;
        margin-top: 0;
    }
}

@media only screen  and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

@media only screen and (min-width : 769px) {
    #main,
    .closebtn {
        display: none;
    }
}
/********END OF HAMBURGER SECTION************************/

@media only screen and (max-width: 600px) {
    header {
        margin: 0;
        height: 100px;
    }
    nav {
        padding-left: 20px;
        padding-right: 25px;
        padding-top: 35px;
    }
    .nav-brand {
        font-size: 27px;
    }
    .landing{
       display: block;
       padding-left: 20px;
    }
    .profile-img {
        margin: 0 0 0 auto;
        width: 250px;
        min-width: 300px;
        height: 410px;
    }
    .greeting {
        margin-top: 20px;
        font-size: 1.5rem;
    }
    .profession {
        font-size: 1.3rem;
    }
    .name {
        font-size: 2.5rem;
    }
    .intro {
        margin-bottom: 45px;
    }
    .Skills {
        flex-direction: column;
        text-align: center;
        padding: 10% 9% 8%;
    }
    .skill-img {
       height: 340px; 
    }
    .span-icon {
        display: table;
    }
    .half-skill {
        display: block;
    }
    .half-about{
        width: 100%;
    }
    .half-about-1 {
        margin-bottom: 40px;
        text-align: -webkit-center;
    }
    .half-about-2 {
        text-align: -webkit-center;
    }
    .half {
        width: 100%;
    }
    .half-text {
       order: 1;
       padding-bottom: 50px;
    }
    .half-img {
        order: 2;
        width: 300px;
    }
    .experience {
        flex-direction: column;
        align-items: center;
        padding: 10% 5%;
    }
    .experience-column {
        display: block;
        align-self: center;
    }
    .ex-half {
        width: 100%;
    }
    .about-color {
        text-align: center;
        font-size: 2.4rem;
    }
    .line-img {
        display: none;
    }
    .column {
        height: 300px;
        width: 100%;
        margin-top: 40px;
        padding: 20px 20px;
        position: relative;
    }
    .btn-e {
         position: absolute;
         bottom: 10px;
    }
    .Ex-image {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        height: 330px;
    }
    .ex-half {
        width: 100%;
    }
    .Projects {
        padding: 10% 12%;
        align-items: center;
    }
    .project-container {
        display: block;
    }
    .project-div {
        margin-top: 40px;
    }
    .project-div:nth-child(1) {
        height: auto;
    }
    .project-div:nth-child(2) {
        height: auto;
    }
    .project-img, 
    .project-text {
        width: 100%;
    }
    .project-div:first-child {
        margin-top: 0;
    }
    .link {
        margin-bottom: 130px; 
    }
    .test-text {
        width: 80%;
        margin: auto;
    }
    .apostrophee-img {
        height:40px;
    }
    .test-p {
        width: 70%;
    }
    .dot {
        height: 7px;
        width: 7px;
    }
    .contact-info {
        flex-direction: column;
        margin: 0;
    }
    .contact-icon-details {
        margin: 0;
        order: 2;
    }
    .contact-input-details {
        order: 1;
        margin-bottom: 60px;
   }
    textarea {
        width: 100%;
    }
    .input-name {
        display: block;
    }
    .half-contact {
        width: 100%;
    }
    .l-name {
        margin-left: 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px){
    header {
        margin: 0;
        height: 100px;
    }
    nav {
        padding: 5% 6%;
    }
    .nav-brand {
        font-size: 30px;
    }
    .landing{
       display: block;
       padding: 5% 6% 0;
    }
    .profile-img {
        margin: 0 0 0 auto;
        width: 250px;
        min-width: 300px;
        height: 450px;
    }
    .greeting {
        margin-top: 20px;
        font-size: 1.5rem;
    }
    .profession {
        font-size: 1.3rem;
    }
    .name {
        font-size: 3rem;
    }
    .intro {
        margin-bottom: 45px;
    }
    .Skills {
        flex-direction: column;
        text-align: center;
        padding-top: 70px;
    }
    .skill-img {
       height: 340px; 
    }
    
    .half {
        width: 100%;
    }
    .half-text {
       order: 1;
       padding-bottom: 50px;
    }
    .half-img {
        order: 2;
        width: 300px;
    }
   
    .about-color {
        text-align: center;
    }
    .experience {
        flex-direction: column;
        text-align: center;
        padding: 50px;
    }
    .experience-column {
        display: block;
        align-self: center;
    }
    .ex-half {
        width: 100%;
    }
    .line-img {
        display: none;
    }
    .column {
        height: 250px;
        width: 100%;
        margin-top: 40px;
        padding: 20px 20px;
        position: relative;
    }
    .btn-e {
        margin-top: 10px;
   }
    .Ex-image {
        width: 60%;
        min-width: 340px;
        margin-left: 13px;
        height: 330px;
        display: inline;
    }
    .Projects {
        padding: 10% 17%;
        align-items: center;
    }
    .project-container {
        display: block;
    }
    .project-div {
        margin-top: 40px;
    }
    .project-div:nth-child(1) {
        height: auto;
    }
    .project-div:nth-child(2) {
        height: auto;
    }
    .project-div:nth-child(3) {
        height: auto;
    }
    .project-img, 
    .project-text {
        width: 100%;
    } 
    .project-div:first-child {
        margin-top: 0;
    }
    .link {
        margin-bottom: 80px; 
    }
    .test-text {
        width: 50%;
        margin: auto;
    }
    .apostrophee-img {
        height:40px;
    }
    .test-p {
        width: 70%;
    }
    .dot {
        height: 7px;
        width: 7px;
    }
    .contact-info {
        flex-direction: column;
        margin: 0;
    }
    .contact-icon-details {
        margin: 0;
        order: 2;
    }
    .contact-input-details {
        order: 1;
        margin-bottom: 60px;
   }
    textarea {
        width: 100%;
    }
    .input-name {
        display: block;
    }
    .half-contact {
        width: 100%;
    }
    .l-name {
        margin-left: 0;
    }
}


@media only screen and (min-width: 768px) and (max-width: 900px){
    nav {
        padding: 3% 7% 0;
    }
    .landing {
        padding: 3% 7% 0;
    }
    .profile-img {
        width: 300px;
        min-width: 300px;
        height: 420px;
        align-items: center;
    }
    .nav-brand {
        font-size: 2.7rem;
    }
    .name {
        font-size: 4rem;
    }
    .nav-link {
        font-size: 1.1rem;
    }
    .nav-link:hover {
        font-size: 1.2rem;
    }
    .Skills {
        padding: 8% 3% 8%;
    }
    .about-color {
        font-size: 3rem;
        line-height: 1.3;
    }
    .experience {
        flex-direction: column;
        text-align: center;
        padding: 70px;
    }
    .experience-column {
        display: block;
        align-self: center;
    }
    .ex-half {
        width: 100%;
    }
    .line-img {
        display: none;
    }
    .column {
        height: 250px;
        width: 100%;
        margin-top: 40px;
        padding: 20px 20px;
        position: relative;
    }
    .btn-e {
        margin-top: 10px;
   }
    .Projects {
        padding: 5% 17%;
        align-items: center;
    }
    .project-container {
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .project-div {
        margin-top: 40px;
    }
    .project-div:nth-child(1) {
        height: auto;
    }
    .project-div:nth-child(2) {
        height: auto;
    }
    .project-img, 
    .project-text {
        width: 100%;
    } 
    .project-div:first-child {
        margin-top: 0;
    }
    .link {
        margin-bottom: 80px; 
    }
    .contact-route {
        padding: 0 0 40px 0;
    }
    .Ex-image {
        display: inline;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1100px){
    nav {
        padding: 3% 7% 0;
    }
    .landing {
        padding: 3% 7% 0;
    }
    .greeting {
        font-size: 1.5rem;
    }
    .profession {
        font-size: 1.3rem;
    }
    .name {
        font-size: 4rem;
    }
    .profile {
        margin-left: 30px;
    }
    .Skills {
        padding: 8% 5% 8%;
    }
    .skill-img {
        margin-left: 0;
    }
    .experience {
        flex-direction: column;
        text-align: center;
        padding: 7% 17%;
    }
    .experience-column {
        display: block;
        align-self: center;
    }
    .ex-half {
        width: 100%;
    }
    .Ex-image {
        margin-left: auto;
        margin-right: auto;
    }
    .line-img {
        display: none;
    }
    .column {
        height: 250px;
        width: 100%;
        margin-top: 40px;
        padding: 20px 20px;
        position: relative;
    }
    .btn-e {
        margin-top: 10px;
   }
    .Projects {
        padding-left: 5%;
        padding-right: 5%;
    }
    .contact-route {
        padding: 0 0 40px 0;
    }
}    

@media only screen and (min-width: 1101px) and (max-width: 1300px){
    .experience {
        flex-direction: column;
        text-align: center;
        padding: 7% 17%;
    } 
    .experience-column {
        display: block;
        align-self: center;
    }
    .ex-half {
        width: 100%;
    }
    .Ex-image {
        margin-left: auto;
        margin-right: auto;
    }
    .line-img {
        display: none;
    }
    .column {
        height: 220px;
        width: 100%;
        margin-top: 40px;
        padding: 20px 20px;
        position: relative;
    }
    .btn-e {
        margin-top: 10px;
   }
   .btn-e:last-child {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-route {
        padding-left: 5%;
        padding-right: 5%;
    }
}    

@media only screen and (min-width: 1600px) {
    nav,
    .landing {
       padding-left: 20%;
       padding-right: 20%; 
    }
    .skills {
       padding-left: 15%;
       padding-right: 15%; 
    }
    .experience {
        padding-left: 13%;
        padding-right: 13%;
    }
}