@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #DDE8F0;
    color: #40514E;
    font-family: "merriweather";
}
h1 {
    font-family: "poppins";
    font-weight: bold;
    line-height: 1.5;
}
h2 {
    font-family: "poppins";
    font-weight: bold;
}
h3 {
    font-family: "poppins";
    font-weight: normal;
}
p {
    font-family: "merriweather";
}
input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;
}
textarea {
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;
    resize: none;
}

/*******************1ST AND 2ND SECTION***********************/
nav {
    padding: 3% 13% 0;
}
    
header {
    background-color: #004581;
    color: #DDE8F0;
}
.landing {
    background-color: #004581;
    color: #DDE8F0;
    padding: 3% 13% 0;

}
.nav-link {
    margin-left: 3rem;
    font-family: "poppins";
    font-weight: lighter;
    text-align: center;
    cursor: pointer;
}
.nav-link:hover {
    color: #97CBDC;
    font-size: 1.26rem;
}
.nav-edit {
    margin-top: 7px;
}
.last-navlink {
    border: solid #DDE8F0 1px;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 0;
}
.last-navlink:hover{
  color: #97CBDC;
}
.nav-brand{
    font-family: "Ubuntu";
    font-weight: normal;
}
.profile-img {
    width: 350px;
    min-width: 350px;
    height: 500px;
    align-items: center;
}





/********************3RD SECTION*************************/
.Skills {
    background-color: #DDE8F0;
    padding: 5% 13% 5%;
}
.ski {
    color: #018ABD;
    font-weight: bold;
}
.skill-img {
    width: 325px;
    height: 385px;
    margin: 0 auto;
}
.about-color {
    color: #01202c;
}
.div-icon {
    width: 20%;
}
.icons {
    color: #97CBDC;
}
.icons:hover {
    color: #018ABD;
}
.about {
    line-height: 1.5;
}





/*******************4TH SECTION******************************/
.experience {
    background-color: #97CBDC;
    padding: 2% 7% 2% 4%;
}
.Ex-image {
    width: 400px;
    height: 450px;
    margin-top: 60px;
}
.exp {
    color: #004581;
    font-weight: bold;
}
.line {
    width: 16px;
}

.date-color {
    color: #01202c;
    font-weight: bold;
}

.column {
    background-color: #DDE8F0;
    border: none;
    border-radius: 7px;
    height: 185px;
    min-height: 185px;
    width: 350px;
    min-width: 300px;
}
.column:hover {
    background-color: #004581;
    color: #DDE8F0;
}
.column:hover .date-color {
    color: #DDE8F0
}
.column:hover .exp {
    color: #DDE8F0
}
.column:hover .btn-e {
    background-color: #DDE8F0;
    color: #004581;
}
.btn-e {
  background-color: #004581;
  border: none;
  border-radius: 6px;
  color: #DDE8F0;
  padding: 8px 17px;
}









/*******************5TH SECTION****************************/
.Projects {
    background-color: #DDE8F0;
    padding: 0;
    margin: 0;
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.slide-container {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.image-slider {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}
.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}
.img-ca {
    position: relative;
    width: 240px;
    height: 370px;
    transition: .5s;
    filter: saturate(10%);
}
.button-ca {
    position: absolute;
    width: 240px;
    height: 370px;
    transition: .5s;
    background-color: rgba(0, 0, 0, .4);
}
.button-ca:hover {
    background-color: rgba(0, 0, 0, .2);
}
#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3 {
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}
/*************image position***************/
#slider-span1:target ~ .image-slider {left: 20%;}

#slider-span3:target ~ .image-slider {left: -20%;}









/*********************6TH SECTION*******************************/
.apostrophee-img {
    height:45px;
}
.dot {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #97CBDC;
}


/********************7TH SECTION******************************/
.cont {
    color: #018ABD;
    font-weight: bold;
}
.contact-route {
    padding-left: 15%;
    padding-right: 15%;
}
.contact-icon {
    background-color: #004581;
    color: #DDE8F0;
    padding: 80%;
    border-radius: 100%;
}
.btn {
  background-color: #004581;
  border: none;
  border-radius: 6px;
  color: #DDE8F0;
  padding: 8px 38px;
  text-align: center;
  font-size: 16px;
}








/*******************LAST SECTION***********************************/
footer {
    background-color: #004581;
    color: #DDE8F0;
    align-items: center;
    padding: 50px 0 20px;
    margin-bottom: 0;
}
.copyright {
    line-height: 1.5;
}
.footer-text {
    font-weight: normal;
}






/*****************************************RESPONSIVE DESIGN*********************************************/
@media only screen and (max-width: 600px) {
    .landing {
       display: block;
    }
  }

  /*@media only screen and (max-width: 768px) {
    .profile {
       display: none;
    }
  }  */